#myform fieldset {
	display: inline-block;	/* 하위 별점 이미지들이 있는 영역만 자리를 차지함 */
	border: 0;	/* 필드셋 테두리 제거 */
	 	direction: rtl;	/* 이모지 순서 반전 */
	text-align: left;
}

#myform input[type=radio] {
	display:none;	/* 라디오박스 감춤 */
}

#myform label {
	font-size: 3em;	/* 이모지 크기 */
	color: transparent;	/* 기존 이모지 컬러 제거 */
	text-shadow: 0 0 0 #f0f0f0;	/* 새 이모지 색상 부여 */
	cursor: pointer;
}

#myform label:hover {
	text-shadow: 0 0 0 #FF6F61;	/* 마우스 호버 */
}

#myform label:hover ~ label {
	text-shadow: 0 0 0 #FF6F61;	/* 마우스 호버 뒤에 오는 이모지들 */
}


#myform input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 #FF6F61;	/* 마우스 클릭 체크 */
}

.product-detail .tab-content .form button {
    /* display: inline-block; */
    height: 35px;
    padding: 0 15px;
    color: #FF6F61;
    background: #ffffff;
    border: 1px solid #FF6F61;
    border-radius: 4px;
    margin-bottom: 15px;
    transition: all .3s;
	float: right;
}

.product-detail .tab-content .form button:hover {
    color: #ffffff;
    background: #FF6F61;
}